@{
}

@model IEnumerable<ApplicationClientMVC.ViewModels.TaskModel>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<link rel="stylesheet" href="~/css/site.css" />

<a asp-action="Create">Добавить</a>

<div class="content-container">
    <table class="table-style">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Срок
                </th>
                <th>
                    Приоритет
                </th>
            </tr>
        </thead>
        <tbody class="border-dark">
            @foreach (var item in Model)
            {
                <tr @if (Convert.ToBoolean(item.Done))
                {
                    <text>class="inactive-row"</text>
                }>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <form asp-action="DeleteConfirmed" asp-route-id="@item.Id" onsubmit="return confirm('Вы уверены, что хотите удалить элемент?');">
                            <button type="submit">Удалить</button>
                        </form>
                            
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>